
html, body{
    font-family: 'Montserrat', sans-serif;
}

.appHeader {
    text-align: center;
    margin: 0 auto;
}
.welcome{
    text-align: center;
    padding: 60px;
}
.welcome img{
    max-width: 50%;
    max-height: 50%;
}
.content{
    padding-top: 50px;
}

.addButton{
    float: right;
    margin-bottom: 30px;
}
